<style>
    table input[type=text] {
        width: 50px;
    }
    .table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
        border: 1px solid #4e5d6c;
    }
    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
        padding: 6px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #4e5d6c;
    }
</style>
<div class="container" ng-init="init()">

    <div class="row">
        <div class="col-md-12">


            <!-- table -->
            <table class="table table-bordered table-condensed">
                <tr style="font-weight: bold">
                    <td>Name</td>
                    <td>Handle</td>
                    <td>assign Chalenge Id</td>
                    <td>Challenge title</td>
                    <td>Challenge solved</td>
                    <td>folder</td>
                    <td>Bucket shortname</td>

                    <td>batch</td>
                </tr>
                <tr ng-repeat="user in winners | filter:filterUser">
                    <td>
                        <!-- editable username (text with validation) -->
                          <span>
                            {{ user.userName || 'empty' }}
                          </span>
                    </td>
                    <td>
                        <!-- editable status (select-local) -->
                              <span>
                                {{ user.handle }}
                              </span>
                    </td>

                    <td>
                        <!-- editable group (select-remote) -->
                              <span>
                                {{ user.assignChallenge }}
                              </span>
                    </td>
                    <td>
                        <!-- editable group (select-remote) -->
                              <span>
                                {{ user.title }}
                              </span>
                    </td>


                    <td>
                        <!-- editable group (select-remote) -->
                              <span>
                                {{ user.solved }}
                              </span>
                    </td>
                    <td>
                        <!-- editable group (select-remote) -->
                              <span>
                                {{ user.folder }}
                              </span>
                    </td>
                    <td>
                        <!-- editable group (select-remote) -->
                              <span>
                                {{ user.shortname }}
                              </span>
                    </td>
                    <td>
                        <!-- editable group (select-remote) -->
                              <span>
                                {{ user.batch }}
                              </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
