<style>

    .video-section .pattern-overlay {
        background-color: transparent;

        min-height: 496px;
        /* Incase of overlay problems just increase the min-height*/
    }
    .video-section h1, .video-section h3{
        text-align:center;
        color:#fff;
    }
    .video-section h1{
        font-size:110px;
        font-family: 'Buenard', serif;
        font-weight:bold;
        text-transform: uppercase;
        margin: 40px auto 0px;
        text-shadow: 1px 1px 1px #000;
        -webkit-text-shadow: 1px 1px 1px #000;
        -moz-text-shadow: 1px 1px 1px #000;
    }
    .video-section h3{
        font-size: 25px;
        font-weight:lighter;
        margin: 0px auto 15px;
    }
    .video-section .btnGroup{

        margin: 0px auto 15px;
        text-align: center;
    }
    .video-section .buttonBar{display:none;}
    .player {font-size: 1px;}
    .vertical-center {
        min-height: 100% !important;  /* Fallback for browsers do NOT support vh unit */
        min-height: 100vh !important;; /* These two lines are counted as one :-)       */

        display: flex;
        align-items: center;
    }
</style>

<!-- Warming Up -->

<!--Video Section-->
<section class="content-section video-section" ng-init="init()">

    <!--<video autoplay id="bgvid" loop muted>

        <source src="Hackathon_Timelapse.mp4" type="video/mp4">
    </video>-->
    <div class="jumbotron pattern-overlay vertical-center">

        <div class="container">
            <div class="row">
                <div class="col-md-12" >

                    <h1><i class="fa fa-codepen fa-5x"></i> O-Mega</h1>
                    <h3>Think. Innovate. Code.</h3>
                    <div class="btnGroup">
                    <a href="#/login" class="btn btn-lg btn-success">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>