<style>
    .list-group-item {
        border: 1px solid #ddd !important;
    }
    .fixedPos
    {
        position: fixed;
        top: 48px;
        right: 15px;
        z-index: 9999;
        padding: 5px;
    }
</style>
<script>
    $(function() {
        $('input:radio').click(function() {
            if($(this).is(':checked')) {
                $('input:radio').parent().removeClass('active');
                $(this).parent().addClass('active');
            }
        })
        setTimeout(function() {
            $('input:radio').each(function(){
                if($(this).is(':checked')) {
                    $('input:radio').parent().removeClass('active');
                    $(this).parent().addClass('active');
                }
            });
        },2000);
    });
</script>
<div class="container" ng-init="init();">
    <div class="alert alert-dismissible alert-success" ng-show="challenge.isSubmitted && !challenge.is_dummy">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Note!</strong> You have completed this challenge.
    </div>
    <div class="alert alert-dismissible alert-danger" ng-show="challenge.counter == 0 && !challenge.isSubmitted && !challenge.is_dummy">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Note!</strong> This challenge is closed. Please wait for next challenge.
    </div>
    <div class="alert " ng-class="challenge.counter > 0? 'alert-success fixedPos': 'alert-danger fixedPos'" ng-show="!challenge.is_dummy">
        Remaining Time - <span class="badge badge-success"><timer countdown="challenge.counter" max-time-unit="'minute'" interval="1000">{{mminutes}}:{{sseconds}}</timer> min</span>
    </div>

<div class="page-header" ng-show="!challenge.is_dummy">
    <div class="row">
        <div class="col-lg-12">
            <h1 id="buttons"><i class="fa fa-question-circle"></i> {{challenge.title}}</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>INSTRUCTIONS :</h3>
        <p ng-bind-html="challenge.bucket_description"></p>

    </div>
    <div class="col-md-12" ng-show="!challenge.is_dummy">
        <p class="lead">
        <h3>PROBLEM</h3>
        <div ng-bind-html="challenge.description"></div>

        <div class="well" ng-show="challenge.testCase1 != null" >
            <h5>SAMPLE INPUT</h5>
            <p class="text-success">{{challenge.testCase1}}</p>
            <hr/>
            <h5>SAMPLE OUTPUT</h5>
            <p class="text-success">{{challenge.result1}}</p>
        </div>
        <div class="well" ng-show="challenge.testCase2 != null">
            <h5>SAMPLE INPUT</h5>
            <p class="text-success">{{challenge.testCase2}}</p>
            <hr/>
            <h5>SAMPLE OUTPUT</h5>
            <p class="text-success">{{challenge.result2}}</p>
        </div>
        </p>
    </div>

</div>
<div class="row" ng-show="!challenge.is_dummy">
    <div class="col-lg-12">
        <div class="panel panel-default" style="box-shadow: 0px 0px 10px #ccc;">
            <div class="panel-heading">Solution</div>
            <div class="panel-body">
                <form id="myform" name="myform" method="post">
                    <div class="form-group" ng-show="challenge.type == 'Coding'">
                        <label for="lang">Language</label>
                        <select name="lang" ng-model="challenge.code_language" id="lang" ng-change="updateLanguage()">
                            <option ng-repeat="lang in allowedlanguage">{{lang.value}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Submit Solution</label>
                        <ui-codemirror ui-codemirror-opts="editorOptions" ng-model="challenge.code" ng-show="challenge.type == 'Coding'"></ui-codemirror>
                        <textarea class="form-control" ng-model="challenge.code" ng-show="challenge.type == 'SQL'"></textarea>
                        <textarea class="form-control" ng-model="challenge.solution" ng-show="challenge.type == 'Descriptive'"></textarea>
                        <ul class="list-group" ng-show="challenge.type == 'Objective'">
                            <li class="list-group-item" ng-class="testCase.testCase1 == true ? 'list-group-item-success' : ''">
                                <input type="radio" value="1" ng-model="challenge.solution"> &nbsp;{{challenge.option1}}</li>
                            <li class="list-group-item" ng-class="testCase.testCase2 == true ? 'list-group-item-success' : ''">
                                <input type="radio" value="2" ng-model="challenge.solution"> &nbsp;{{challenge.option2}}</li>
                            <li class="list-group-item" ng-class="testCase.testCase1 == true ? 'list-group-item-success' : ''">
                                <input type="radio" value="3" ng-model="challenge.solution"> &nbsp;{{challenge.option3}}</li>
                            <li class="list-group-item" ng-class="testCase.testCase2 == true ? 'list-group-item-success' : ''">
                                <input type="radio" value="4" ng-model="challenge.solution"> &nbsp;{{challenge.option4}}</li>

                        </ul>
                    </div>
                    <!--
                    <div class="form-group">
                        <label for="input">Input</label>
                        <textarea rows="10" style="width:100%;" id="input" name="input" class="form-control file" ng-model="input"></textarea>
                    </div>-->


                    <div class="form-group  col-md-4" ng-show="challenge.type == 'Coding'">
                        <label>Testing Case</label>
                        <ul class="list-group">
                            <li class="list-group-item" ng-class="testCase.testCase1 == true ? 'list-group-item-success' : ''">
                                <input type="radio" value="case1" ng-model="input"> &nbsp;{{challenge.testCase1}}</li>
                            <li class="list-group-item" ng-class="testCase.testCase2 == true ? 'list-group-item-success' : ''">
                                <input type="radio" value="case2" ng-model="input"> &nbsp;{{challenge.testCase2}}</li>

                        </ul>

                    </div>

                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div style="clear: both"></div>
                    <div ng-show="challenge.counter > 0">
                    <div class="btn-group" ng-show="challenge.type == 'Coding'">
                        <button type="button" class="btn btn-success" ng-click="compile();" ng-show="!challenge.isSubmitted">Compile</button>
                        <button type="button" class="btn btn-info" ng-click="test();" ng-show="!challenge.isSubmitted && challenge.folder != null && (testCase.testCase1 == false || testCase.testCase2 == false)">Test Code</button>
                        <button type="button" class="btn btn-primary" ng-click="submitCode();" ng-show="!challenge.isSubmitted &&  testCase.testCase1 == true && testCase.testCase2 == true">Submit Code</button>
                    </div>
                    <div class="btn-group" ng-show="challenge.type == 'Objective' || challenge.type == 'Descriptive'">
                        <button type="button" class="btn btn-primary" ng-click="submitSolution();" ng-show="!challenge.isSubmitted">Submit</button>
                    </div>
                    <div class="btn-group" ng-show="challenge.type == 'SQL'">
                        <button type="button" class="btn btn-info" ng-click="sqlsyntexCheck();" ng-show="!challenge.isSubmitted">Syntex Check</button>
                        <button type="button" class="btn btn-primary" ng-click="submitSql();" ng-show="!challenge.isSubmitted">Submit & Run SQL</button>
                    </div>
                    </div>
                    <div class="alert alert-dismissible alert-danger" ng-show="challenge.counter == 0 && !challenge.isSubmitted && !challenge.is_dummy">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>Note!</strong> This challenge is closed. Please wait for next challenge.
                    </div>

                </form>
            </div>
        </div>

    </div>

</div>
    </div>