<style>
    .glyphicon { margin-right:5px;}
    .section-box h2 { margin-top:0px;}
    .section-box h2 a { font-size:15px; }
    .glyphicon-heart { color:#e74c3c;}
    .glyphicon-comment { color:#27ae60;}
    .separator { padding-right:5px;padding-left:5px; }
    .section-box hr {margin-top: 0;margin-bottom: 5px;border: 0;border-top: 1px solid rgb(199, 199, 199);}
    .vertical-center {
        min-height: 100% !important;  /* Fallback for browsers do NOT support vh unit */
        min-height: 100vh !important;; /* These two lines are counted as one :-)       */

        display: flex;
        align-items: center;
    }

    .btn .badge {
        position: relative;
        top: -39px;
        left: 24px;
        font-weight: bold;
    }
    .iconcustom {
        margin-left: 120px;
    }
</style>


<div class="container" ng-init="init()">
    <div class="row">
        <div class="col-12" style="text-align: center">
            <h3><i class="fa fa-arrow-down"></i> Click on the icon to participate in challenge <i class="fa fa-arrow-down"></i></h3>
        </div>
    </div>
    <div class="row">


    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <div class="col-md-6" ng-repeat="x in buckets">

            <a href="#/coding/{{x.bucketid}}" class="btn btn-lg" ng-class="x.challengeid == null && !x.is_dummy ?'btn-default':{'btn-warning':x.isSubmitted && !x.is_dummy,'btn-danger':!x.isSubmitted && x.counter == 0 && !x.is_dummy,'btn-info':(!x.isSubmitted && x.counter != 0) || x.is_dummy}" style="width: 100%; padding-top: 30px; padding-bottom:30px;margin: 15px 0px">
                <span style="font-size: 21px;" ng-show="x.challengeid != null && !x.is_dummy" class="badge badge-success pull-right"><timer countdown="x.counter" max-time-unit="'minute'" interval="1000">{{mminutes}}:{{sseconds}}</timer> min</span>
                <span style="font-size: 21px;" ng-show="x.challengeid == null && !x.is_dummy" class="badge badge-success pull-right">0:00 min</span>
                <i class="fa fa-4x {{x.icon}}" ng-class="!x.is_dummy?'iconcustom':''" style=""></i><br/>
                <h3>{{x.name}}</h3>
                <p style="font-size: 12px;">{{x.short_description}}</p>
                <hr/>
                <span ng-show="x.challengeid != null" style="font-size: 15px;">{{x.title}}</span>
                <span ng-show="x.challengeid == null && !x.is_dummy">Shutter Closed</span>
            </a>

        </div>
    </div>

    <div class="col-md-1">
    </div>

    </div>
</div>
